/AppBlog/__pycache__
/AppBlog/migrations
blogapi
/contacto/__pycache__
/contacto/migrations
/donaciones/__pycache__
/donaciones/migrations
/favoritos/__pycache__
/favoritos/migrations
/blog/__pycache__
/static/node_modules
/static/scss
/static/package-lock.json
/static/package.json
/static/ckeditor
/static/rest_framework
/usuarios/__pycache__
/usuarios/migrations
/blog/variables.py
/static/ckeditor/
db.sqlite3
AppBlog/migrations/