{% extends 'base.html' %}

{%load static%}
{%block titulo%}
    <title>EmprendeForo | Comentar</title>
    <meta name="description" content="En nuestra sección de creación de publicaciones, podrás presentar tus proyectos, buscar colaboradores y oportunidades de inversión.">
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor.css' %}">
{%endblock%}
{%block main%}
{%for publicacion in publicacion%}
<h1 class='h1_pub_detalle'>{{publicacion.nombre}}</h1>
<section>
    <div class="grid_container">
        <div class="publicacion_container blog">
            <div class="publicacion_detalle">
                <div class="publicacion_detalle__autor_fecha">
                    <h4>{{publicacion.usuario}}:</h4>
                    <h5>{{publicacion.fecha_creacion}}</h4>
                </div>
                <p>{{publicacion.texto}}</p>
                <hr>
            </div>
            <div class="respuestas">
                <h2>Respuestas:</h2>
                <div class="form_crear txt-area">
                    <form action="" method="POST"> {% csrf_token %}
                        {{form.as_p}}
                        
                        <button type="submit" class="boton">Responder</button>
                    </form>
                </div>
                {%if not comentarios%}
                <p>No hay comentarios todavía...</p>
                {%else%}
                    {%for comentario in comentarios%}
                    <div>
                        <div class="publicacion_detalle__autor_fecha">
                            <h5>{{comentario.usuario}}:</h5>
                            <h6>{{comentario.fecha_creacion}}</h6>
                        </div>
                        <p>{{comentario.texto}}</p>
                        <hr>
                    </div>
                    {%endfor%}
                {%endif%}
            </div>
{%endfor%}
    </div>  
</section>
{%endblock%}

{%block script%}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{%endblock%}