{%extends 'base.html' %}
{%load static%}

{%block titulo%}
<title>EmprendeForo | Inicio</title>
<meta name="description"
    content="Conecta con otros emprendedores y empieza tu negocio. Encuentra socios, recursos y oportunidades de colaboración.">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

{%endblock%}

{%block main%}
<div class="grid_container">
    <div class="bienvenida">
        <p>Bienvenidos a...</p>
        <h1 class="emprendeforo">
            <span class="emprende">Emprende</span><span class="foro">Foro</span>
        </h1>
    </div>
</div>
<section>
    <h2 class="titulo_seccion_ultimas_pub">Últimas publicaciones</h2>
    <div class="grid_container">
        <div class="publicacion_container" id='publicacion_container'>
            

        </div>
    </div>
</section>

{%endblock%}

{%block script%}
    <script src="{%static 'js/tildar_botones_fav.js'%}"></script>
    <script src="{%static 'js/favoritos.js'%}"></script>
    <script src="{%static 'js/envio_fav.js'%}"></script>
    <script src="{%static 'js/index.js'%}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
{%endblock%}