{%extends 'base.html'%}
{%load static%}

{%block titulo%}
    <title>EmprendeForo | Publicaciones</title>
    <meta name="description" content="Únete a nuestra comunidad de emprendedores y haz crecer tu red de contactos. Descubre recursos, oportunidades de colaboración y encuentra socios para impulsar tu negocio. Regístrate ahora y comienza a construir relaciones duraderas con emprendedores que comparten tus mismos intereses y objetivos empresariales.">
{%endblock%}

{%block main%}
<section>
    <h1>Publicaciones</h1>
    <div class="buscador">
        <p>Buscar</p>
        <input type="text" id="buscador_input">
    </div>
    <div class="grid_container">
        <div class="publicacion_container" id='publicacion_container'>
            
        </div>
    </div>
    <div class="pagination">
        <ul id="paginador"></ul>

    </div>

</section>
{%endblock%}

{%block script%}
    <script src="{%static 'js/todas_publicaciones.js'%}"></script>
{%endblock%}