{% extends 'base.html' %}


{%block titulo%}
    <title>EmprendeForo | Registro</title>
{%endblock%}
{%block main%}
<h1>Registrate</h1>
<section>
        <div class="grid_form_user">
            <form action="" method="POST" class="form_user">{% csrf_token %}
                {{form_registration.as_p}}
                <button type="submit" class="boton">Registrarte</button>
            </form>
        </div>
        <div class="registro_log">
            <p>¿Ya tienes una cuenta? <a href="{%url 'login'%}"><span>Ingresa</span></a></p>
        </div>
</section>
    
{%endblock%}